@using Nem

<div style=@myStyle>


    <select class="form-control selectpicker" @bind="Region">
        <option value="@NemRegionId.NONE">--select--</option>
        @foreach (var region in Regions())
        {
            <option value="@region.Id">@region.FullName</option>
        }
    </select>



    @if (ValidRegion)
    {
    <div>
        <h1>@kWhDollarString kWh</h1>
        <h1>@MWhDollarString MWh</h1>
    </div>
    }
</div>