@using Nem

<div class="NemPrice">


    <select class="form-control selectpicker" @bind="Region">
        <option value="@NemRegionId.NONE">--select--</option>
        @foreach (var region in Regions())
        {
            <option value="@region.Id">@region.FullName</option>
        }
    </select>



    @if (ValidRegion)
    {
    <div class="prices">
        <h1>@kWhDollarString kWh</h1>
        <h1>@MWhDollarString MWh</h1>
    </div>


    }
</div>


<style>
    body 
    {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: @BackgroundGradient;
        overflow: hidden;
    }
</style>